// **-----
// STRUCTURE
// **-----
$extra-small-content-width: 95%;
$small-content-width: 90%;
$medium-content-width: 85%;
$large-content-width: 65%;

$extra-small-screen-size: 320px;
$small-screen-size: 585px;
$medium-screen-size: 992px;
$large-screen-size: 1200px; 


// DEFAULT _S "STRUCTURE" VARS
$size__site-main: 100%;
$size__site-sidebar: 25%;
// /end



// **-----
// TYPOGRAPHY
// **-----
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

// DEFAULT _S "TYPOGRAPHY" VARS
$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$christmas-font: 'Mountains of Christmas', cursive, 'serif';
$body-font:	'Lato', 'serif';

// /end



// **-----
// COLORS
// **-----
$christmas-primary: #C22026;
$christmas-secondary: #3C8D0D;
$background-posts: #FFFAFA;


// DEFAULT _S "COLORS" VARS
$color__background-body: $christmas-primary;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $christmas-secondary;
$color__link-visited: $christmas-secondary;
$color__link-hover: $christmas-secondary;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

// end

// Images
@mixin backImage($image){
	background: url($image);
	background-repeat: repeat;
	
	
}
